Hereos of Pymoli Analysis

*Even though Males are the majority of players, Females or Other/Non-Disclosed spend 
more money on average per item purchase.

*Players in the age range between 35 - 39 years old, spend the most money per average per person.

*Our peak age demographic between 20 - 24 years old is our customer of choice, not only because of their numbers but also because of their purchase count. They also have the 3rd highest average total purchase per person also.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [2]:
#Finding total players by the length of unique Screen Names
total_players = len(purchase_data["SN"].unique())
player_count = pd.DataFrame({"Total Players": [total_players]})
player_count

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
#Finding the number of unique items
unique_items = len(purchase_data["Item Name"].value_counts())
#Finding the mean of Price
average_price = purchase_data["Price"].mean()
#Finding the number of purchases
num_purchases = len(purchase_data["Purchase ID"])
#Finding the sum of Price for Total Revenue 
tot_revenue = purchase_data["Price"].sum()
#Create Data Frame
purchase_analysis = pd.DataFrame({"Number of Unique Items": [unique_items],"Average Price": [average_price], "Number of Purchases": [num_purchases],"Total Revenue": [tot_revenue] })
#Styling 
style_dic = {"Average Price":"${0:,.2f}", "Total Revenue":"${0:,.2f}"}
purchase_analysis.style.format(style_dic)

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
#Drop Duplicates of Screen Names to find accurate Gender Count
gender_count = purchase_data.drop_duplicates(subset = ["SN"])
#Creating Gender Count variable to find Total Count by Gender
gender_count = gender_count["Gender"].value_counts()
#Finding Gender Percentages
gender_percentage= gender_count/total_players * 100
#Create Data Frams
gender_demographics = pd.DataFrame({"Total Count": gender_count, "Percentage of Players": gender_percentage})
#Styling
style_dic = {"Percentage of Players":"{0:,.2f}%"}
gender_demographics.style.format(style_dic)


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
#Find Purchase Counts by Gender 
purchase_count = purchase_data.groupby(["Gender"]).count()["Purchase ID"]
#Find Avg Purchase Price by Gender
avg_purchase_price = purchase_data.groupby(["Gender"]).mean()["Price"]
#Find Total Purchase Value by Gender
total_purchase_val = purchase_data.groupby(["Gender"]).sum()["Price"]
#Find Avg Total Purchase per Person by Gender
avg_total_purchase = total_purchase_val / gender_count
#Create Data Frame
purchasing_analysis = pd.DataFrame({"Purchase Count": purchase_count, "Average Purchase Price": avg_purchase_price, "Total Purchase Value": total_purchase_val, "Avg Total Purchase per Person": avg_total_purchase})
#Styling
style_dic = {"Average Purchase Price":"${0:,.2f}", "Total Purchase Value":"${0:,.2f}","Avg Total Purchase per Person":"${0:.2f}"}
purchasing_analysis.style.format(style_dic)

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [6]:
#Create Age Bins
bins = [0,9,14,19,24,29,34,39,46]
#Set Bin Names
bin_name = ["<10", "10-14","15-19","20-24","25-29","30-35","35-39","40+"]
#Create Age variable by dropping duplicate Screen Names
age_data = purchase_data.drop_duplicates(subset = ["SN"])
#Cutting data to put in Age Bins
age_data["Age Bin"] = pd.cut(purchase_data["Age"], bins, labels=bin_name,include_lowest=True)
#Getting Total Count by Age Bin
age_count = age_data.groupby("Age Bin").count()
#Finding Age Percentage per Age Bin
age_percentage = age_count['Age'] / total_players * 100
#Create Data Frame
age_demographics = pd.DataFrame({"Total Count": age_count['Age'], "Percentage of Players": age_percentage})
#Styling
style_dic={"Percentage of Players":"{0:,.2f}%"}
age_demographics.style.format(style_dic)

<ipython-input-6-422a4f957352>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  age_data["Age Bin"] = pd.cut(purchase_data["Age"], bins, labels=bin_name,include_lowest=True)

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
#Create Age Bins
bins = [0,9,14,19,24,29,34,39,46]
#Set Bin Names
bin_name = ["<10", "10-14","15-19","20-24","25-29","30-35","35-39","40+"]
#Cutting Data to put in Age Bins
purchase_data["Age Range"] = pd.cut(purchase_data["Age"], bins, labels=bin_name,include_lowest=True)
#Find Purchase Count by Age Bin
age_purchase_data = purchase_data.groupby("Age Range")['Price'].count().values
#Find Avg Purchase Price by Age Bin
age_avg_purchase_price = purchase_data.groupby("Age Range")['Price'].mean().values
#Find Total Purchase Value by Age Bin
age_total_purchase_value = purchase_data.groupby("Age Range")['Price'].sum().values
#Find Avg Total Purchase per Person by Age Bin
age_avg_total_purchase = age_total_purchase_value / age_count["Age"]
#Create Data Fram
age_purchase_analysis = pd.DataFrame({"Purchase Count": age_purchase_data, "Average Purchase Price":age_avg_purchase_price, "Total Purchase Value": age_total_purchase_value, "Avg Total Purchase per Person":age_avg_total_purchase})
#Styling
style_dic={"Average Purchase Price":"${0:,.2f}", "Total Purchase Value":"${0:,.2f}", "Avg Total Purchase per Person":"${0:,.2f}"}
age_purchase_analysis.style.format(style_dic)

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [11]:
#Finding Purchase Count by Screen Name
purchase_count_sn = purchase_data.groupby(["SN"]).count()["Purchase ID"]
#Finding Avg Purchase Price by Screen Name
avg_purchase_price_sn = purchase_data.groupby(["SN"]).mean()["Price"]
#Finding Total Purchase Value by Screen Name
total_purchase_val_sn = purchase_data.groupby(["SN"]).sum()["Price"]
#Create Data Frame
top_spenders = pd.DataFrame({"Purchase Count": purchase_count_sn, "Average Purchase Price": avg_purchase_price_sn, "Total Purchase Value": total_purchase_val_sn})
#Sort Data Frame 
sort_top_spenders = top_spenders.sort_values("Total Purchase Value",ascending=False)
#Styling
style_dic={"Average Purchase Price":"${0:,.2f}", "Total Purchase Value":"${0:,.2f}"}
sort_top_spenders.head().style.format(style_dic)

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [12]:
#Locking data series by Item Id, Item Name, and Price
purchase_data.loc[:, ["Item ID", "Item Name", "Price"]]
#Finding Purchase Count by Item Id and Item Name
purchase_count_mp = purchase_data.groupby(["Item ID", "Item Name"]).count()["Purchase ID"]
#Finding Total Purchase Value by Item Id and Item Name
total_purchase_val_mp = purchase_data.groupby(["Item ID", "Item Name"]).sum()["Price"]
#Finding Item Price
item_price = total_purchase_val_mp / purchase_count_mp
#Create Data Frame
most_popular = pd.DataFrame({"Purchase Count": purchase_count_mp,"Item Price": item_price,"Total Purchase Value": total_purchase_val_mp})
#Sort Data Frame
sort_most_popular = most_popular.sort_values("Purchase Count",ascending=False)
#Styling
style_dic={"Item Price":"${0:,.2f}", "Total Purchase Value":"${0:,.2f}"}
sort_most_popular.head().style.format(style_dic)

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [13]:
#Sort Data Frame aboce by Total Purchase Value
sort_most_profitable = most_popular.sort_values("Total Purchase Value",ascending=False)
#Styling
style_dic={"Item Price":"${0:,.2f}", "Total Purchase Value":"${0:,.2f}"}
sort_most_profitable.head(5).style.format(style_dic)